# 6.1

In [4]:
import pymysql

con = pymysql.connect(
    user='root',
    passwd='1234',
    host='127.0.0.1',
    db='shop',
    charset='utf8'
)

mycursor = con.cursor()

In [5]:
query = """
    select * from goods;
"""

mycursor.execute(query) # excute 메소드로 SQL 쿼리를 데이터베이스 서버에 보냄
data = mycursor.fetchall()  # 테이블 안에 모든 데이터를 추출
con.close() # 데이터베이스 연결 종료

display(data)

(('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 1000, 500, datetime.date(2020, 9, 20)),
 ('0003', '와이셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0004', '식칼', '주방용품', 1000, 500, datetime.date(2020, 9, 20)),
 ('0005', '압력솥', '주방용품', 1000, 500, datetime.date(2020, 9, 20)),
 ('0006', '포크', '주방용품', 1000, 500, datetime.date(2020, 9, 20)),
 ('0007', '도마', '주방용품', 1000, 500, datetime.date(2020, 9, 20)),
 ('0008', '볼펜', '사무용품', 1000, 500, datetime.date(2020, 9, 20)))

---

# 6.2

In [10]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')
query = """
    select * from goods;
"""

goods = pd.read_sql(query, con=engine) # 매개변수 : (query, engine)

engine.dispose()    # dispose(): 연결 종료

goods.head()

  goods_id goods_name goods_classify  sell_price  buy_price register_date
0     0001        티셔츠             의류        1000        500    2020-09-20
1     0002        펀칭기           사무용품        1000        500    2020-09-20
2     0003       와이셔츠             의류        1000        500    2020-09-20
3     0004         식칼           주방용품        1000        500    2020-09-20
4     0005        압력솥           주방용품        1000        500    2020-09-20

In [11]:
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/shop')
iris.to_sql(name='iris', con=engine, index=False, if_exists='replace')  # to_sql() : pandas에서 sql 데이터베이스로 저장하는 함수
engine.dispose()

---

# 6.3

In [13]:
from sqlalchemy_utils import create_database
create_database('mysql+pymysql://root:1234@127.0.0.1:3306/exam') # 데이터베이스 만들기

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'exam'; database exists")
[SQL: CREATE DATABASE exam CHARACTER SET = 'utf8']
(Background on this error at: https://sqlalche.me/e/20/f405)

In [20]:
price = pd.DataFrame({
    "날짜":['2021-01-02', '2021-01-03'],
    "티커":['000001', '000001'],
    "종가":[1340, 1315],
    "거래량":[1000, 2000]
})

price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000

In [23]:
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/exam')
price.to_sql('price', con= engine, if_exists='append', index=False)     # if_exists='append' : 테이블 존재 시, 기존 테이블에 데이터 추가
data_sql = pd.read_sql('price', con=engine)
engine.dispose()

data_sql.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000

In [24]:
new = pd.DataFrame({
    "날짜":['2021-01-04'],
    "티커":['000001'],
    "종가":[1320],
    "거래량":[1500]
})
price = pd.concat([price,new])
price.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000
0  2021-01-04  000001  1320  1500

In [25]:
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/exam')
price.to_sql('price', con= engine, if_exists='append', index=False)     # if_exists='append' : 테이블 존재 시, 기존 테이블에 데이터 추가
data_sql = pd.read_sql('price', con=engine)
engine.dispose()

data_sql.head()

           날짜      티커    종가   거래량
0  2021-01-02  000001  1340  1000
1  2021-01-03  000001  1315  2000
2  2021-01-02  000001  1340  1000
3  2021-01-03  000001  1315  2000
4  2021-01-04  000001  1320  1500

In [26]:
# upsert 기능 구현 (기존 테이블에 값 존재 시, 새로운 데이터로 update / 값 없을 시, 새로운 데이터를 insert)
price = pd.DataFrame({
    "날짜":['2021-01-04', '2021-01-04'],
    "티커":['000001', '000002'],
    "종가":[1320,1315],
    "거래량":[2100, 1500]
})

args = price.values.tolist()    # 데이터를 리스트 형태로 변환

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='exam',
                      charset='utf8')

query="""
    insert into price_2 (날짜, 티커, 종가, 거래량)
    values (%s, %s, %s, %s) as new
    on duplicate key update
    종가 = new.종가, 거래량 = new.거래량;
"""

mycursor = con.cursor()
mycursor.executemany(query, args)     # query의 %s 부분에 리스트 데이터들이 들어간 상태로 쿼리 실행
con.commit()    # 데이터의 확정 갱신

con.close()

[['2021-01-04', '000001', 1320, 2100], ['2021-01-04', '000002', 1315, 1500]]