# 10.1

In [ ]:
# 최근 영업일 데이터 뽑기

import requests as rq
from bs4 import BeautifulSoup

url = 'https://finance.naver.com/sise/sise_deposit.nhn'
data = rq.get(url)
data_html = BeautifulSoup(data.content)
parse_day = data_html.select_one(
    'div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah').text   # select_one - 해당 데이터 태그 추출

print(parse_day)

In [ ]:
import re

biz_day = re.findall('[0-9]+', parse_day)   # 숫자에 해당하는 부분 추출
biz_day = ''.join(biz_day)  # 숫자 합쳐주기

print(biz_day)

## 10.2 한국거래소 업종분류 현황 및 개별지표 크롤링

## 10.2.1

In [ ]:
# 1. http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201에서 CSV 데이터를 받아오기 위한 OTP 받아오기

import requests as rq
import cloudscraper     # 보안서비스 우회 요청 처리 라이브러리
from io import BytesIO
import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_stk = {
    'locale':'ko-KR',
    'mktId': 'STK', # 코스피 종목
    'trdDd': biz_day,
    'money':'1',
    'csvxls_isNo':'false',
    'name':'fileDown',
    'url':'dbms/MDC/STAT/standard/MDCSTAT03901'
}
# headers = {'Referer':'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201'}   # Referer: 링크를 통해 각각의 웹사이트로 방문할 때 남는 흔적, 이 흔적이 없으면 서버가 로봇으로 인식해 정보를 주지 않음

scraper = cloudscraper.create_scraper()

response = scraper.post(gen_otp_url, params=gen_otp_stk)    # 포스트 요청 - cloudscraper 사용하여 요청 우회

otp_stk = response.text

print(otp_stk)

In [ ]:
# 위의 과정을 거처 생성된 OTP를 제출 시, 원하는 데이터 다운 가능

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
down_sector_stk = scraper.post(down_url, params={'code': otp_stk})              # cloudscraper 사용
sector_stk = pd.read_csv(BytesIO(down_sector_stk.content), encoding='EUC-KR')   # BytesIO : 받은 데이터의 content 부분을 바이너리 스트림으로 만든 후 read_csv 함수를 통해 데이터 읽어오기

sector_stk.head()

In [ ]:
# 코스닥 시작 데이터도 동일 과정을 통해 다운

gen_otp_ksq = {
    'locale':'ko-KR',
    'mktId': 'KSQ', # 코스피 종목
    'trdDd': biz_day,
    'money':'1',
    'csvxls_isNo':'false',
    'name':'fileDown',
    'url':'dbms/MDC/STAT/standard/MDCSTAT03901'
}

otp_ksq = scraper.post(gen_otp_url, params=gen_otp_ksq).text

down_sector_ksq = scraper.post(down_url, params={'code': otp_ksq})
sector_ksq = pd.read_csv(BytesIO(down_sector_ksq.content), encoding='EUC-KR')

sector_ksq.head()

In [ ]:
# 코스피, 코스닥 데이터 합치기

krx_sector = pd.concat([sector_stk, sector_ksq]).reset_index(drop=True)     # 두 데이터 합쳐주고 reset_index()로 인덱스 리셋, drop=True로 인덱스로 세팅한 열을 삭제
krx_sector['종목명'] = krx_sector['종목명'].str.strip()     # 종목명에 공백이 있는 경우 삭제
krx_sector['기준일'] = biz_day

krx_sector.head()

## 10.2.2 개별종목 지표 크롤링

In [ ]:
# 개별지표 OTP 생성 후 데이터 불러오기

import cloudscraper     # 보안서비스 우회 요청 처리 라이브러리
from io import BytesIO
import pandas as pd

gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
gen_otp_data = {
    'searchType':'1',
    'mktId':'ALL',
    'trdDd':biz_day,
    'csvxls_isNo':'false',
    'name':'fileDown',
    'url':'dbms/MDC/STAT/standard/MDCSTAT03501'
}
# headers={'Referer':'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader'}
scraper = cloudscraper.create_scraper()
otp = scraper.post(gen_otp_url, params=gen_otp_data).text

down_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
krx_ind = scraper.post(down_url, params={'code': otp})

krx_ind = pd.read_csv(BytesIO(krx_ind.content), encoding='EUC-KR')
krx_ind['종목명'] = krx_ind['종목명'].str.strip()   # 종목명 없는 항목은 삭제
krx_ind['기준일'] = biz_day

krx_ind.head()

## 10.2.3 데이터 정리하기

In [ ]:
diff = list(set(krx_sector['종목명']).symmetric_difference(set(krx_ind['종목명']))) # 대칭 차집합을 구하는 함수 / 대칭 차집합 : 두 집합의 합집합에서 공통 부분만 제외한 집합 - 한 집합에만 존재하는 요소들의 집합
print(diff)

In [ ]:
# pd.merge(): 두 개의 데이터프레임을 병합할 때 사용하는 함수, SQL의 JOIN 연산과 유사한 방식으로 데이터 결합
kor_ticker = pd.merge(krx_sector,   # 왼쪽 데이터프레임
                      krx_ind,      # 오른쪽 데이터프레임
                      on=krx_sector.columns.intersection(   # on="두 데이터프레임에서 공통으로 사용할 열 이름. 열 이름이 같을 경우에만 사용."
                          krx_ind.columns).tolist(),
                      how='outer')   # 병합 방식(outer:합집합)

kor_ticker.head()

일반적인 종목과 스팩, 우선주, 리츠, 기타 주식을 구분한다.

스팩(Special Purpose Acquisition Company, SPAC): 기업인수를 목적으로 하는 페이퍼컴퍼니
    - 대부분 증권사 주관으로 설립되며, 스팩이 먼저 투자자들의 자금을 모아 주식 시장에 상장이 되고 나면, 그 이후에 괜찮은 비상장기업을 찾아 합병하는 방식으로 최종 기업 인수가 이루어짐

In [ ]:
# pandas의 []: [] 내부의 조건이 True인 항목들을 뽑아낸다.

print(kor_ticker[kor_ticker['종목명'].str.contains('스팩|제[0-9]+호')]['종목명'].values)

In [ ]:
# 종목코드 끝이 0이 아닌 종목은 우선주에 해당, 우선주를 뽑는 코드

print(kor_ticker[kor_ticker['종목코드'].str[-1:] != '0']['종목명'].values)

In [ ]:
# 리츠 종목은 종목명이 리츠로 끝남

print(kor_ticker[kor_ticker['종목명'].str.endswith('리츠')]['종목명'].values)

In [ ]:
import numpy as np

# np.where(condition, val_if_true, val_if_false): 조건이 참이면 val_if_true를, 거짓이면 val_if_false를 반환
# 거짓에 np.where를 중첩으로 넣는 경우 - 거짓일 경우에 중첩된 np.where()을 실행

kor_ticker['종목구분'] = np.where(kor_ticker['종목명'].str.contains('스팩|재[0-9]+호'), '스팩',
                            np.where(kor_ticker['종목코드'].str[-1:] != '0', '우선주',
                                     np.where(kor_ticker['종목명'].str.endswith('리츠'), '리츠',
                                              np.where(kor_ticker['종목명'].isin(diff), '기타',
                                                  '보통주'))))

# df.reset_index(): 데이터프레임의 인덱스를 초기화하거나 재설정하는 데 사용됨
# 기존 인덱스를 기본 정수형 인덱스로 변환하고, 변환되기 전 인덱스를 데이터프레임의 열로 변환하거나 제거할 수 있음
kor_ticker = kor_ticker.reset_index(drop=True)
# 열 이름의 공백 삭제
kor_ticker.columns = kor_ticker.columns.str.replace(' ', '')
kor_ticker = kor_ticker[['종목코드', '종목명', '시장구분', '종가',
                         '시가총액', '기준일', 'EPS', '선행EPS', 'BPS', '주당배당금', '종목구분']]
# SQL에는 NaN이 입력되지 않으므로 None으로 재표기
kor_ticker = kor_ticker.replace({np.nan: None})
# 기준일을 datetime 형태로 변경한다
kor_ticker['기준일'] = pd.to_datetime(kor_ticker['기준일'])

kor_ticker.head()

In [29]:
# 다운로드받은 정보를 kor_ticker 테이블에 upsert 형태로 저장

import pymysql

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()

query = f"""
    insert into kor_ticker (종목코드, 종목명, 시장구분, 종가, 시가총액, 기준일, EPS, 선행EPS, BPS, 주당배당금, 종목구분)
    values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) as new
    on duplicate key update
    종목명=new.종목명, 시장구분=new.시장구분, 종가=new.종가, 시가총액=new.시가총액, EPS=new.EPS, 선행EPS=new.선행EPS,
    BPS=new.BPS, 주당배당금=new.주당배당금, 종목구분=new.종목구분;
"""

args = kor_ticker.values.tolist()

mycursor.executemany(query, args)   # cursor.executemany(query, args): 같은 SQL문을 여러번 반복적으로 실행할 때 사용 / args는 삽입할 다수의 데이터셋의 모임


con.commit()    # 데이터베이스 변경사항을 실제 db에 저장
con.close()     # 데이터베이스와의 연결을 종료

# 10.3 WICS 기준 섹터 정보 크롤링

In [ ]:
import json
import cloudscraper
import pandas as pd

url = f"https://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd=G10"        # json 파일으로 표현된 데이터

scraper = cloudscraper.create_scraper()

data = scraper.get(url=url).json()

type(data)
print(data.keys())

In [ ]:
# list: 해당 섹터의 구성종목 정보가 포함되어 있음
data['list'][0]

In [ ]:
# sector: 각종 섹터의 코드 정보가 포함
data['sector']

In [ ]:
# list 부분 데이터를 데이터프레임 형태로 변경

data_pd = pd.json_normalize(data['list'])
data_pd.head()

In [ ]:
# 모든 섹터의 구성종목을 뽑기 - sec_cd에 해당하는 부분을 for문으로 변경 후 추출

import time
import json
import cloudscraper
import pandas as pd
from tqdm import tqdm

sector_code = [
    'G25', 'G35', 'G50', 'G40', 'G10', 'G20', 'G55', 'G30', 'G15', 'G45'
]

data_sector = []

scraper = cloudscraper.create_scraper()

for i in tqdm(sector_code):
    url = f"https://www.wiseindex.com/Index/GetIndexComponets?ceil_yn=0&dt={biz_day}&sec_cd={i}"
    data = scraper.get(url=url).json()
    data_pd = pd.json_normalize(data['list'])
    
    data_sector.append(data_pd)
    time.sleep(2)
    
kor_sector = pd.concat(data_sector, axis=0) # axis=0: 행 방향으로 합치기
kor_sector = kor_sector[['IDX_CD', 'CMP_CD', 'CMP_KOR', 'SEC_NM_KOR']]
kor_sector['기준일'] = biz_day
kor_sector['기준일'] = pd.to_datetime(kor_sector['기준일'])

In [ ]:
kor_sector.head()

In [36]:
# db에 위 정보를 저장

import pymysql

con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()

# upsert 형식 : update(기존 값 존재 시) + insert(기존 값 없을 때)
query = """
    insert into kor_sector(IDX_CD, CMP_CD, CMP_KOR, SEC_NM_KOR, 기준일)
    values (%s, %s, %s, %s, %s) as new
    on duplicate key update
    IDX_CD=new.IDX_CD, CMP_CD=new.CMP_CD, CMP_KOR=new.CMP_KOR, SEC_NM_KOR=new.SEC_NM_KOR
"""
args = kor_sector.values.tolist()

mycursor.executemany(query, args)
con.commit()

con.close()

---

# 10.4 수정주가 크롤링

## 10.4.1 개별종목 주가 크롤링

In [ ]:
# DB에서 티커 데이터를 불러오기

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
# 가장 최근 일자 & 보통주에 해당하는 종목 선택
query = """
    select * from kor_ticker
    where 기준일 = (select max(기준일) from kor_ticker)
        and 종목구분 = '보통주';
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

ticker_list.head()

In [ ]:
# 주가 데이터 페이지 크롤링

from dateutil.relativedelta import relativedelta
import cloudscraper
from io import BytesIO
from datetime import date

scraper = cloudscraper.create_scraper()

i = 0       # 향후 for문을 통해 모든 종목의 주가를 크롤링하기 위한 변수 설정
ticker = ticker_list['종목코드'][i] # 원하는 종목의 티커를 설정
fr = (date.today() + relativedelta(years=-5)).strftime('%Y%m%d')    # 현재 날짜에서 원하는 기간만큼을 뺀 후 yyyymmdd형식으로 만들기 - relativedelta(): 원하는 기간만큼 빼거나 더해주는 함수, strftime(): 시간 형식으로 바꿔주는 함수
to = (date.today()).strftime('%Y%m%d')

url = f"https://m.stock.naver.com/front-api/external/chart/domestic/info?symbol={ticker}&requestType=1&startTime={fr}&endTime={to}&timeframe=day"

data = scraper.get(url=url).content
data_price = pd.read_csv(BytesIO(data))

data_price.head()

In [ ]:
# 클렌징 작업 수행

import re

price = data_price.iloc[:, 0:6] # 모든 행, 0번째에서 5번째까지의 열에 해당하는 dataframe 추출
price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
price = price.dropna()
price['날짜'] = price['날짜'].str.extract('(\d+)')  # 날짜 열에서 숫자만을 추출
price['날짜'] = pd.to_datetime(price['날짜']) 
price['종목코드'] = ticker

price.head()

## 10.4.2 전 종목 주가 크롤링

In [ ]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
import cloudscraper
import time
from tqdm import tqdm
from io import BytesIO

import traceback    # 예외처리 상세 내역 출력 라이브러리
# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')

mycursor = con.cursor()

# 티커 리스트 불러오기
ticker_list = pd.read_sql(
    """
    select * from kor_ticker
    where 기준일 = (select max(기준일) from kor_ticker)
        and 종목구분 = '보통주';
    """, con=engine
)

# DB 저장 쿼리
query = """
    insert into kor_price(날짜, 시가, 고가, 저가, 종가, 거래량, 종목코드)
    values (%s, %s, %s, %s, %s, %s, %s) as new
    on duplicate key update
    시가=new.시가, 고가=new.고가, 저가=new.저가, 종가=new.종가, 거래량=new.거래량;
"""

# 오류 발생 시 저장할 리스트 생성
error_list = []

# 전 종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):
    
    # 티커 선택
    ticker = ticker_list['종목코드'][i]
    
    # 시작일과 종료일
    fr = (date.today() + relativedelta(years=-5)).strftime('%Y%m%d')    # 현재 날짜에서 원하는 기간만큼을 뺀 후 yyyymmdd형식으로 만들기 - relativedelta(): 원하는 기간만큼 빼거나 더해주는 함수, strftime(): 시간 형식으로 바꿔주는 함수
    to = (date.today()).strftime('%Y%m%d')
    
    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:
        
        # url 생성
        url = f'https://m.stock.naver.com/front-api/external/chart/domestic/info?symbol={ticker}&requestType=1&startTime={fr}&endTime={to}&timeframe=day'
        
        # 데이터 다운로드
        scraper = cloudscraper.create_scraper()
        data = scraper.get(url).content
        data_price = pd.read_csv(BytesIO(data))
        
        # 데이터 클렌징
        price = data_price.iloc[:, 0:6] # 모든 행, 0번째에서 5번째까지의 열에 해당하는 dataframe 추출
        price.columns = ['날짜', '시가', '고가', '저가', '종가', '거래량']
        price = price.dropna()
        price['날짜'] = price['날짜'].str.extract('(\d+)')  # 날짜 열에서 숫자만을 추출
        price['날짜'] = pd.to_datetime(price['날짜']) 
        price['종목코드'] = ticker
        
        # 주가 데이터를 DB에 저장
        args = price.values.tolist()
        # print(args)
        mycursor.executemany(query, args)
        con.commit()
    except Exception as e:
        print(f"예외 발생: {e}")
        # traceback.print_exc()
        # break
        # 오류 발생 시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)
        
    # 타임슬립 적용
    time.sleep(2)

# DB 연결 종료
engine.dispose()
con.close()

---

# 10.5 재무제표 크롤링

## 10.5.1 재무제표 다운로드

In [ ]:
# 표 형태로 제공되는 재무제표 항목들을 read_html() 함수로 추출

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
query = """
    select * from kor_ticker
    where 기준일 = (select max(기준일) from kor_ticker)
        and 종목구분 = '보통주'
"""
ticker_list = pd.read_sql(query, con=engine)
engine.dispose()

i = 0
ticker = ticker_list['종목코드'][i]

url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'
data = pd.read_html(url, displayed_only=False)

[item.head(3) for item in data]

In [ ]:
"""
위에서 가져온 재무제표 표 내역
0: 포괄손익계산서(연간)
1: 포괄손익계산서(분기)
2: 재무상태표(연간)
3: 재무상태표(분기)
4: 현금흐름표(연간)
5: 현금흐름표(분기)
"""

# 연간 기준 포괄손익계산서, 재무상태표, 현금흐름표의 열 이름 살펴보기
print(
    data[0].columns.to_list(), '\n',
    data[2].columns.to_list(), '\n',
    data[3].columns.to_list()
)

In [ ]:
# 필요하지 않은 전연동기, 전년동기(%) 열 삭제
data_fs_y = pd.concat(
    [data[0].iloc[:, ~data[0].columns.str.contains('전년동기')], data[2], data[4]])
data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: "계정"}) # 첫 번째 열 이름을 "계정" 으로 바꾸기

data_fs_y.head()

In [ ]:
# 연간 재무제표에 해당하는 열만을 선택해야 함. 먼저, 결산월에 해당하는 데이터를 크롤링

import cloudscraper
from bs4 import BeautifulSoup
import re

scraper = cloudscraper.create_scraper()

page_data = scraper.get(url)
page_data_html = BeautifulSoup(page_data.content, 'html.parser')

fiscal_data = page_data_html.select('div.corp_group1 > h2')
fiscal_data_text = fiscal_data[1].text  # 결산 데이터는 2번째에 있음
fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)

print(fiscal_data_text)

In [ ]:
# 연간 재무제표에 해당하는 열만 선택

print(data_fs_y.columns.str[-2:])
data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == "계정") |
                          (data_fs_y.columns.str[-2:].isin(fiscal_data_text))]  # [-2:]: 열의 글자 인덱스 -2, -1을 불러옴

data_fs_y.head()

In [ ]:
# 모든 연도의 데이터가 NaN인 항목을 찾아 삭제

data_fs_y[data_fs_y.loc[:, ~data_fs_y.columns.isin(['계정'])].isna().all(axis=1)].head()        # .all(axis=1): 열 방향(가로)로 체크했을 때 모든 값이 True 인지 확인

In [ ]:
# 동일 계정명이 여러 번 반복됨을 확인 함, 하나만 남겨놓는 작업 필요
data_fs_y['계정'].value_counts(ascending=False).head()

In [20]:
# 위의 두 내용을 포함하여 클렌징이 필요한 내용들을 함수로 구성

def clean_fs(df, ticker, frequency):
    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]  # 모든 연도 데이터가 NaN인 항목 제외
    df = df.drop_duplicates(['계정'], keep='first')     # 계정명 중복 시, 첫 번째 위치하는 데이터만 남김
    df = pd.melt(df, id_vars='계정', var_name='기준일', value_name='값')    # 열로 긴 데이터를 행으로 긴 데이터로 변경
    df = df[~pd.isnull(df['값'])]   # 계정값이 없는 부분 삭제
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기': ''}, regex=True)  # 계산에 참여한 계정 펼치기라는 글자는 페이지의 +에 해당하는 부분 -> replace로 제거
    df['기준일'] = pd.to_datetime(df['기준일'], format='%Y/%m') + pd.tseries.offsets.MonthEnd() # to_datetime() 메서드로 %Y/%m 형식인 데이터를 YYYY-mm 형태로 바꾼 후 MonthEnd()로 월말에 해당하는 일자 붙이기
    
    df['종목코드'] = ticker
    df['공시구분'] = frequency
    
    return df

In [ ]:
data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')

data_fs_y_clean.head()

In [ ]:
# 분기 재무제표도 클랜징

data_fs_q = pd.concat(
    [data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3], data[5]])
data_fs_q = data_fs_q.rename(columns={data_fs_q.columns[0]: '계정'})
data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')

data_fs_q_clean.head()

In [ ]:
# 두 테이블 하나로 묶기
data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])

data_fs_bind.head()

## 10.5.2 전 종목 재무제표 크롤링

In [4]:
# 전 종목 재무제표를 DB에 저장

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import cloudscraper
from bs4 import BeautifulSoup
import re
from tqdm import tqdm
import time

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 티커 리스트 불러오기
ticker_list = pd.read_sql(
    """
    select * from kor_ticker
    where 기준일 = (select max(기준일) from kor_ticker)
        and 종목구분 = '보통주';
    """, con=engine)

# DB 저장 쿼리
query = """
    insert into kor_fs (계정, 기준일, 값, 종목코드, 공시구분)
    values (%s, %s, %s, %s, %s) as new
    on duplicate key update
    값 = new.값
"""

# 오류 발생 시 저장할 리스트 생성
error_list = []

scraper = cloudscraper.create_scraper()

# 재무제표 클렌징 함수
def clean_fs(df, ticker, frequency):
    
    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]  # 모든 연도 데이터가 NaN인 항목 제외
    df = df.drop_duplicates(['계정'], keep='first')     # 계정명 중복 시, 첫 번째 위치하는 데이터만 남김
    df = pd.melt(df, id_vars='계정', var_name='기준일', value_name='값')    # 열로 긴 데이터를 행으로 긴 데이터로 변경
    df = df[~pd.isnull(df['값'])]   # 계정값이 없는 부분 삭제
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기': ''}, regex=True)  # 계산에 참여한 계정 펼치기라는 글자는 페이지의 +에 해당하는 부분 -> replace로 제거
    df['기준일'] = pd.to_datetime(df['기준일'], format='%Y/%m') + pd.tseries.offsets.MonthEnd() # to_datetime() 메서드로 %Y/%m 형식인 데이터를 YYYY-mm 형태로 바꾼 후 MonthEnd()로 월말에 해당하는 일자 붙이기
    
    df['종목코드'] = ticker
    df['공시구분'] = frequency
    
    return df

# 전 종목에 대한 재무제표 크롤링
for i in tqdm(range(0, len(ticker_list))):
    
    # 티커 선택
    ticker = ticker_list['종목코드'][i]
    
    # 오류 발생 시 무시 후 다음 루프 진행
    try:
        # url 생성
        url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'
        
        # 데이터 받아오기
        data = pd.read_html(url, displayed_only=False)
        
        # 연간 데이터
        data_fs_y = pd.concat(
            [data[0].iloc[:, ~data[0].columns.str.contains('전년동기')], data[2], data[4]])
        data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: "계정"}) # 첫 번째 열 이름을 "계정" 으로 바꾸기

        # 결산년 찾기
        page_data = scraper.get(url)
        page_data_html = BeautifulSoup(page_data.content, 'html.parser')
        
        fiscal_data = page_data_html.select('div.corp_group1 > h2')
        fiscal_data_text = fiscal_data[1].text  # 결산 데이터는 2번째에 있음
        fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)
        
        # 결산년에 해당하는 계정만 남기기
        data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') | 
                                  (data_fs_y.columns.str[-2:].isin(fiscal_data_text))]
        
        # 클렌징
        data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')
        
        # 분기 데이터
        data_fs_q = pd.concat(
            [data[1].iloc[:, ~data[0].columns.str.contains('전년동기')], data[3], data[5]])
        data_fs_q = data_fs_q.rename(columns={data_fs_q.columns[0]: "계정"})
        
        data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')
        
        # 2개 합치기
        data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])
        
        # 재무제표 데이터를 DB에 저장
        args = data_fs_bind.values.tolist()
        mycursor.executemany(query, args)
        con.commit()
        
    except:
        
        # 오류 발생 시 해당 종목명을 저장하고 다음 루프로 이동
        print(ticker)
        error_list.append(ticker)
        
    # 타임슬립 적용
    time.sleep(2)
    
# DB 연결 종료
engine.dispose()
con.close()

100%|██████████| 83/83 [04:14<00:00,  3.07s/it]

In [5]:
print(error_list)

[]

---

# 10.6 가치지표 계산

### 가치지표의 종류

| **지표** | **설명** | **필요한 재무제표 데이터** |
|:---:|:---:|:-----------------:|
| PER | Price to Earnings Ratio | Earnings(순이익) |
| PBR | Price to Book Ratio | Book value(순자산) |
| PCR | Price to Cash Flow Ratio | Cash Flow(영업활동현금흐름) |
| PSR | Price to Sales Ratio | Sales(매출액) |
| DY | Dividend Yield | Dividend(배당) |

최근 4분기 데이터를 이용해 계산하는 TTM 방법을 이용

In [1]:
from sqlalchemy import create_engine
import pandas as pd

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')

# 티커 리스트
ticker_list = pd.read_sql("""

select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
    and 종목구분 = '보통주';
                          
""", con=engine)

# NAVER 분기 재무제표
sample_fs = pd.read_sql("""

select * from kor_fs
where 공시구분 = 'q'
and 종목코드 = '035420'
and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');                        
""", con=engine)

engine.dispose()

In [4]:
sample_fs = sample_fs.sort_values(['종목코드', '계정', '기준일'])   # sort_values([A, B, C]): 정렬 기준을 A, B, C 순으로 정하여 정렬

sample_fs.head()

      계정         기준일        값    종목코드 공시구분
0  당기순이익  2023-12-31   2984.0  035420    q
1  당기순이익  2024-03-31   5558.0  035420    q
2  당기순이익  2024-06-30   3321.0  035420    q
3  당기순이익  2024-09-30   5301.0  035420    q
4    매출액  2023-12-31  25370.0  035420    q

In [6]:
"""
groupby(['종목코드', '계정']): 종목코드와 계정별로 그룹화, as_index=False는 그룹화 열을 인덱스로 사용하지 않도록 저장
rolling(window=4, min_periods=4): 윈도우(계산 구역)를 정해주는 함수, 실제 계산은 뒤의 함수가 수행 / window=4: 4개의 구역을 본다. min_periods=4: 계산에 필요한 최소 데이터 개수(NaN이 아닌 데이터들)를 4개로 지정한다.
sum(): 윈도우 내에 있는 데이터를 더한다.
"""


sample_fs['ttm'] = sample_fs.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(window=4,
                                                                                  min_periods=4).sum()['값']

sample_fs

              계정         기준일         값    종목코드 공시구분       ttm
0          당기순이익  2023-12-31    2984.0  035420    q       NaN
1          당기순이익  2024-03-31    5558.0  035420    q       NaN
2          당기순이익  2024-06-30    3321.0  035420    q       NaN
3          당기순이익  2024-09-30    5301.0  035420    q   17164.0
4            매출액  2023-12-31   25370.0  035420    q       NaN
5            매출액  2024-03-31   25261.0  035420    q       NaN
6            매출액  2024-06-30   26105.0  035420    q       NaN
7            매출액  2024-09-30   27156.0  035420    q  103892.0
8   영업활동으로인한현금흐름  2023-12-31    5843.0  035420    q       NaN
9   영업활동으로인한현금흐름  2024-03-31    6218.0  035420    q       NaN
10  영업활동으로인한현금흐름  2024-06-30    6035.0  035420    q       NaN
11  영업활동으로인한현금흐름  2024-09-30    4961.0  035420    q   23057.0
12            자본  2023-12-31  242380.0  035420    q       NaN
13            자본  2024-03-31  245428.0  035420    q       NaN
14            자본  2024-06-30  250448.0  035420    q       NaN
15            자본  2024-09-30  261552.0  035420    q  999808.0

In [7]:
import numpy as np

# 가치지표 중 분모에 해당하는 재무제표 값들을 계산함

sample_fs['ttm'] = np.where(sample_fs['계정'] == '자본', sample_fs['ttm']/4, sample_fs['ttm'])
sample_fs = sample_fs.groupby(['계정', '종목코드']).tail(1)     # tail(1): 각 그룹에서 마지막 행만 선택

sample_fs.head()

              계정         기준일         값    종목코드 공시구분       ttm
3          당기순이익  2024-09-30    5301.0  035420    q   17164.0
7            매출액  2024-09-30   27156.0  035420    q  103892.0
11  영업활동으로인한현금흐름  2024-09-30    4961.0  035420    q   23057.0
15            자본  2024-09-30  261552.0  035420    q  249952.0

In [8]:
# 분자에 해당하는 시가총액을 계산

sample_fs_merge = sample_fs[['계정', '종목코드', 'ttm']].merge(
    ticker_list[['종목코드', '시가총액', '기준일']], on='종목코드')
sample_fs_merge['시가총액'] = sample_fs_merge['시가총액']/100000000     # 억 원 -> 원으로 단위 맞추기

sample_fs_merge.head()

             계정    종목코드       ttm      시가총액         기준일
0         당기순이익  035420   17164.0  320835.0  2025-01-09
1           매출액  035420  103892.0  320835.0  2025-01-09
2  영업활동으로인한현금흐름  035420   23057.0  320835.0  2025-01-09
3            자본  035420  249952.0  320835.0  2025-01-09

In [9]:
# 가치지표 계산
sample_fs_merge['value'] = sample_fs_merge['시가총액'] / sample_fs_merge['ttm']

sample_fs_merge['지표'] = np.where(
    sample_fs_merge['계정'] == '매출액', 'PSR',
    np.where(sample_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
        np.where(sample_fs_merge['계정'] == '자본', 'PBR',
            np.where(sample_fs_merge['계정'] == '당기순이익', 'PER', None))))

sample_fs_merge

             계정    종목코드       ttm      시가총액         기준일      value   지표
0         당기순이익  035420   17164.0  320835.0  2025-01-09  18.692321  PER
1           매출액  035420  103892.0  320835.0  2025-01-09   3.088159  PSR
2  영업활동으로인한현금흐름  035420   23057.0  320835.0  2025-01-09  13.914863  PCR
3            자본  035420  249952.0  320835.0  2025-01-09   1.283586  PBR

In [10]:
# 배당수익률 = 주당배당금 / 종가

ticker_list_sample = ticker_list[ticker_list['종목코드'] == '035420'].copy()
ticker_list_sample['DY'] = ticker_list_sample['주당배당금'] / ticker_list_sample['종가']

ticker_list_sample.head()

,종목코드,종목명,시장구분,종가,시가총액,기준일,EPS,선행EPS,BPS,주당배당금,종목구분,DY
32,035420,NAVER,KOSPI,202500.0,3.208350e+13,2025-01-09,6661.0,11537.0,154077.0,1205.0,보통주,0.005951

## 10.6.1 전 종목 가치지표 계산

In [11]:
# 패키지 불러오기
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

# DB 연결
engine = create_engine('mysql+pymysql://root:1234@127.0.0.1:3306/stock_db')
con = pymysql.connect(user='root',
                      passwd='1234',
                      host='127.0.0.1',
                      db='stock_db',
                      charset='utf8')
mycursor = con.cursor()

# 분기 재무제표 불러오기
kor_fs = pd.read_sql( 
    """
    select * from kor_fs
    where 공시구분 = 'q'
    and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
    """, con=engine
)

# 티커 리스트 불러오기
ticker_list = pd.read_sql(
    """
    select * from kor_ticker
    where 기준일 = (select max(기준일) from kor_ticker)
        and 종목구분 = '보통주';
    """, con=engine
)

engine.dispose()

In [14]:
# TTM 구하기
kor_fs = kor_fs.sort_values(['종목코드', '계정', '기준일'])
kor_fs['ttm'] = kor_fs.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(window=4, min_periods=4).sum()['값']

# 자본은 평균 구해주기
kor_fs['ttm'] = np.where(kor_fs['계정'] == '자본', kor_fs['ttm'] / 4, kor_fs['ttm'])
kor_fs = kor_fs.groupby(['계정', '종목코드']).tail(1)

In [17]:
# 가치지표 구하기

kor_fs_merge = kor_fs[['계정', '종목코드', 'ttm']].merge(ticker_list[['종목코드', '시가총액', '기준일']], on='종목코드')
kor_fs_merge['시가총액'] = kor_fs_merge['시가총액'] / 100000000

kor_fs_merge['value'] = kor_fs_merge['시가총액'] / kor_fs_merge['ttm']
kor_fs_merge['value'] = kor_fs_merge['value'].round(4)

kor_fs_merge['지표'] = np.where(
    kor_fs_merge['계정'] == '매출액', 'PSR',
        np.where(kor_fs_merge['계정'] == '자본', 'PBR',
                np.where(kor_fs_merge['계정'] == '당기순이익', 'PER', 'ETC')))

kor_fs_merge.rename(columns={'value': '값'}, inplace=True)
kor_fs_merge = kor_fs_merge[['종목코드', '기준일', '지표', '값']]
kor_fs_merge = kor_fs_merge.replace([np.inf, -np.inf, np.nan], None)        # np.inf == 무한대

kor_fs_merge.head(4)

     종목코드         기준일    지표       값
0  000210  2025-01-09   PER   6.126
1  000210  2025-01-09   PSR  0.1177
2  000210  2025-01-09  None  1.8878
3  000210  2025-01-09   PBR  0.1432

In [19]:
# 계산된 가치지표를 DB에 저장

query = """
    insert into kor_value (종목코드, 기준일, 지표, 값)
    values (%s, %s, %s, %s) as new
    on duplicate key update
    값 = new.값
"""

args_fs = kor_fs_merge.values.tolist()
mycursor.executemany(query, args_fs)
con.commit()

IntegrityError: (1048, "Column '지표' cannot be null")

In [18]:
# 배당수익률 계산

ticker_list['값'] = ticker_list['주당배당금'] / ticker_list['종가']
ticker_list['값'] = ticker_list['값'].round(4)
ticker_list['지표'] = 'DY'
dy_list = ticker_list[['종목코드', '기준일', '지표', '값']]
dy_list = dy_list.replace([np.inf, -np.inf, np.nan], None)
dy_list = dy_list[dy_list['값'] != 0]

dy_list.head()

     종목코드         기준일  지표       값
0  000210  2025-01-09  DY  0.0320
1  001040  2025-01-09  DY  0.0304
2  001460  2025-01-09  DY  0.0102
3  001770  2025-01-09  DY  0.0066
4  002380  2025-01-09  DY  0.0334

In [ ]:
args_dy = dy_list.values.tolist()
mycursor.executemany(query, args_dy)
con.commit()

engine.dispose()
con.close()